In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
import seaborn as sns

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

# Classification 
Predict the condition of state - Critical, Moderate or Safe.
Based on total number of cases per 2 weeks.

A new column will be created for this purpose named 'Condition'.
# Regression
Predict the percentage improved of states. 
Based on number of weeks.

In [46]:
# Covid 19 India data
df = pd.read_csv("D:/codes/Covid_India_Prediction/Data/covid_19_india.csv")
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [47]:
# Statewise Testing Details data
df1 = pd.read_csv("D:/codes/Covid_India_Prediction/Data/StatewiseTestingDetails.csv")
df1.head

<bound method NDFrame.head of              Date                        State  TotalSamples Negative  \
0      2020-04-17  Andaman and Nicobar Islands        1403.0     1210
1      2020-04-24  Andaman and Nicobar Islands        2679.0      NaN
2      2020-04-27  Andaman and Nicobar Islands        2848.0      NaN
3      2020-05-01  Andaman and Nicobar Islands        3754.0      NaN
4      2020-05-16  Andaman and Nicobar Islands        6677.0      NaN
...           ...                          ...           ...      ...
16331  2021-08-06                  West Bengal    15999961.0      NaN
16332  2021-08-07                  West Bengal    16045662.0      NaN
16333  2021-08-08                  West Bengal    16092192.0      NaN
16334  2021-08-09                  West Bengal    16122345.0      NaN
16335  2021-08-10                  West Bengal    16162814.0      NaN

       Positive
0          12.0
1          27.0
2          33.0
3          33.0
4          33.0
...         ...
16331       NaN
16332       NaN
16333       NaN
16334       NaN
16335       NaN

[16336 rows x 5 columns]>

In [48]:
# Covid vaccine statewise data
df2 = pd.read_csv("D:/Codes/Covid_India_Prediction/Data/covid_vaccine_statewise.csv")
df2.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16-01-2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17-01-2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18-01-2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19-01-2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20-01-2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [49]:
df.shape

(18110, 9)

In [50]:
# Function to replace names
def replace_names(old,new):
    df["State/UnionTerritory"].replace(old,new,inplace=True)

In [51]:
states = df["State/UnionTerritory"].unique().tolist()
print(states)
print("Total unique states and union territories =", len(states))

['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh', 'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands', 'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura', 'Nagaland', 'Meghalaya', 'Dadra and Nagar Haveli and Daman and Diu', 'Cases being reassigned to states', 'Sikkim', 'Daman & Diu', 'Lakshadweep', 'Telangana', 'Dadra and Nagar Haveli', 'Bihar****', 'Madhya Pradesh***', 'Himanchal Pradesh', 'Karanataka', 'Maharashtra***']
Total unique states and union territories = 46

In [52]:
# Cleaning data 
# Replacing incorrect names of States

replace_names("Maharashtra***", "Maharashtra")
replace_names("Madhya Pradesh***", "Madhya Pradesh")
replace_names("Bihar****", "Bihar")
replace_names("Dadra and Nagar Haveli", "Dadra and Nagar Haveli and Daman and Diu")
replace_names("Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
replace_names("Himanchal Pradesh", "Himachal Pradesh")
replace_names("Telengana", "Telangana")
replace_names("Karanataka", "Karnataka")


states = df["State/UnionTerritory"].unique().tolist()
print(states)
print("Total unique states and union territories =", len(states))

['Kerala', 'Telangana', 'Delhi', 'Rajasthan', 'Uttar Pradesh', 'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands', 'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura', 'Nagaland', 'Meghalaya', 'Dadra and Nagar Haveli and Daman and Diu', 'Cases being reassigned to states', 'Sikkim', 'Lakshadweep']
Total unique states and union territories = 38

In [53]:
# Checking for 'Unassigned' and 'Cases being reassigned to states rows' in the data
print('Cases being reassigned to states =', len(df[df['State/UnionTerritory'] == 'Cases being reassigned to states']))
print('Unassigned =', len(df[df['State/UnionTerritory'] == 'Unassigned']))

Cases being reassigned to states = 60
Unassigned = 3

In [54]:
# Dropping 'Unassigned' and 'Cases being reassigned to states' rows from the data
indexes1 = df[df['State/UnionTerritory'] == 'Cases being reassigned to states'].index
indexes2 = df[df['State/UnionTerritory'] == 'Unassigned'].index
df.drop(indexes1, inplace=True)
df.drop(indexes2, inplace=True)

In [55]:
states = df["State/UnionTerritory"].unique().tolist()
print(states)
print("Total unique states and union territories =", len(states))

['Kerala', 'Telangana', 'Delhi', 'Rajasthan', 'Uttar Pradesh', 'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura', 'Nagaland', 'Meghalaya', 'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim', 'Lakshadweep']
Total unique states and union territories = 36

In [56]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Sno,18047.0,NaN,NaN,NaN,9076.41813,5224.916438,1.0,4575.5,9087.0,13598.5,18110.0
Date,18047,560,2021-08-11,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,18047,7,8:00 AM,16412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State/UnionTerritory,18047,36,Kerala,560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ConfirmedIndianNational,18047,62,-,17601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ConfirmedForeignNational,18047,12,-,17601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cured,18047.0,NaN,NaN,NaN,279610.209564,615742.451962,0.0,3392.0,33924.0,280679.0,6159676.0
Deaths,18047.0,NaN,NaN,NaN,4066.548734,10935.489348,0.0,34.0,598.0,3669.5,134201.0
Confirmed,18047.0,NaN,NaN,NaN,302063.110822,657060.375285,0.0,4387.0,40269.0,301280.5,6363442.0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18047 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18047 non-null  int64
 1   Date                      18047 non-null  object
 2   Time                      18047 non-null  object
 3   State/UnionTerritory      18047 non-null  object
 4   ConfirmedIndianNational   18047 non-null  object
 5   ConfirmedForeignNational  18047 non-null  object
 6   Cured                     18047 non-null  int64
 7   Deaths                    18047 non-null  int64
 8   Confirmed                 18047 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.4+ MB

In [58]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [81]:
# taking the dates and states from the dataframe 
dates = df.iloc[:, 1].values
for i in range(5):
    print(dates[i])

2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03

In [60]:
# splitting the dates and putting them into new lists
months = list()
days = list()
for i in dates:
    months.append(int(i.split('-')[1]))
    days.append(int(i.split('-')[2]))

[('Kerala', 30, 1),
 ('Kerala', 31, 1),
 ('Kerala', 1, 2),
 ('Kerala', 2, 2),
 ('Kerala', 3, 2),
 ('Kerala', 4, 2),
 ('Kerala', 5, 2),
 ('Kerala', 6, 2),
 ('Kerala', 7, 2),
 ('Kerala', 8, 2),
 ('Kerala', 9, 2),
 ('Kerala', 10, 2),
 ('Kerala', 11, 2),
 ('Kerala', 12, 2),
 ('Kerala', 13, 2),
 ('Kerala', 14, 2),
 ('Kerala', 15, 2),
 ('Kerala', 16, 2),
 ('Kerala', 17, 2),
 ('Kerala', 18, 2),
 ('Kerala', 19, 2),
 ('Kerala', 20, 2),
 ('Kerala', 21, 2),
 ('Kerala', 22, 2),
 ('Kerala', 23, 2),
 ('Kerala', 24, 2),
 ('Kerala', 25, 2),
 ('Kerala', 26, 2),
 ('Kerala', 27, 2),
 ('Kerala', 28, 2),
 ('Kerala', 29, 2),
 ('Kerala', 1, 3),
 ('Telangana', 2, 3),
 ('Kerala', 2, 3),
 ('Delhi', 2, 3),
 ('Telangana', 3, 3),
 ('Rajasthan', 3, 3),
 ('Kerala', 3, 3),
 ('Delhi', 3, 3),
 ('Uttar Pradesh', 4, 3),
 ('Kerala', 4, 3),
 ('Haryana', 4, 3),
 ('Delhi', 4, 3),
 ('Telangana', 4, 3),
 ('Rajasthan', 4, 3),
 ('Delhi', 5, 3),
 ('Haryana', 5, 3),
 ('Kerala', 5, 3),
 ('Rajasthan', 5, 3),
 ('Telangana', 5, 3),
 ('Uttar Pradesh', 5, 3),
 ('Delhi', 6, 3),
 ('Haryana', 6, 3),
 ('Kerala', 6, 3),
 ('Rajasthan', 6, 3),
 ('Uttar Pradesh', 6, 3),
 ('Telangana', 6, 3),
 ('Kerala', 7, 3),
 ('Uttar Pradesh', 7, 3),
 ('Ladakh', 7, 3),
 ('Telangana', 7, 3),
 ('Tamil Nadu', 7, 3),
 ('Delhi', 7, 3),
 ('Haryana', 7, 3),
 ('Rajasthan', 7, 3),
 ('Ladakh', 8, 3),
 ('Telangana', 8, 3),
 ('Tamil Nadu', 8, 3),
 ('Rajasthan', 8, 3),
 ('Kerala', 8, 3),
 ('Haryana', 8, 3),
 ('Delhi', 8, 3),
 ('Uttar Pradesh', 8, 3),
 ('Ladakh', 9, 3),
 ('Karnataka', 9, 3),
 ('Kerala', 9, 3),
 ('Maharashtra', 9, 3),
 ('Punjab', 9, 3),
 ('Rajasthan', 9, 3),
 ('Tamil Nadu', 9, 3),
 ('Telangana', 9, 3),
 ('Jammu and Kashmir', 9, 3),
 ('Uttar Pradesh', 9, 3),
 ('Haryana', 9, 3),
 ('Delhi', 9, 3),
 ('Uttar Pradesh', 10, 3),
 ('Ladakh', 10, 3),
 ('Delhi', 10, 3),
 ('Haryana', 10, 3),
 ('Karnataka', 10, 3),
 ('Kerala', 10, 3),
 ('Maharashtra', 10, 3),
 ('Punjab', 10, 3),
 ('Rajasthan', 10, 3),
 ('Tamil Nadu', 10, 3),
 ('Telangana', 10, 3),
 ('Jammu and Kashmir', 10, 3),
 ('Maharashtra', 11, 3),
 ('Delhi', 11, 3),
 ('Haryana', 11, 3),
 ('Kerala', 11, 3),
 ('Rajasthan', 11, 3),
 ('Telangana', 11, 3),
 ('Uttar Pradesh', 11, 3),
 ('Ladakh', 11, 3),
 ('Tamil Nadu', 11, 3),
 ('Jammu and Kashmir', 11, 3),
 ('Punjab', 11, 3),
 ('Karnataka', 11, 3),
 ('Delhi', 12, 3),
 ('Haryana', 12, 3),
 ('Kerala', 12, 3),
 ('Rajasthan', 12, 3),
 ('Telangana', 12, 3),
 ('Uttar Pradesh', 12, 3),
 ('Ladakh', 12, 3),
 ('Tamil Nadu', 12, 3),
 ('Jammu and Kashmir', 12, 3),
 ('Punjab', 12, 3),
 ('Karnataka', 12, 3),
 ('Maharashtra', 12, 3),
 ('Andhra Pradesh', 12, 3),
 ('Delhi', 13, 3),
 ('Haryana', 13, 3),
 ('Kerala', 13, 3),
 ('Rajasthan', 13, 3),
 ('Telangana', 13, 3),
 ('Uttar Pradesh', 13, 3),
 ('Ladakh', 13, 3),
 ('Tamil Nadu', 13, 3),
 ('Jammu and Kashmir', 13, 3),
 ('Punjab', 13, 3),
 ('Karnataka', 13, 3),
 ('Maharashtra', 13, 3),
 ('Andhra Pradesh', 13, 3),
 ('Delhi', 14, 3),
 ('Haryana', 14, 3),
 ('Kerala', 14, 3),
 ('Rajasthan', 14, 3),
 ('Telangana', 14, 3),
 ('Uttar Pradesh', 14, 3),
 ('Ladakh', 14, 3),
 ('Tamil Nadu', 14, 3),
 ('Jammu and Kashmir', 14, 3),
 ('Punjab', 14, 3),
 ('Karnataka', 14, 3),
 ('Maharashtra', 14, 3),
 ('Andhra Pradesh', 14, 3),
 ('Andhra Pradesh', 15, 3),
 ('Delhi', 15, 3),
 ('Haryana', 15, 3),
 ('Karnataka', 15, 3),
 ('Kerala', 15, 3),
 ('Maharashtra', 15, 3),
 ('Punjab', 15, 3),
 ('Rajasthan', 15, 3),
 ('Tamil Nadu', 15, 3),
 ('Telangana', 15, 3),
 ('Jammu and Kashmir', 15, 3),
 ('Ladakh', 15, 3),
 ('Uttar Pradesh', 15, 3),
 ('Uttarakhand', 15, 3),
 ('Andhra Pradesh', 16, 3),
 ('Delhi', 16, 3),
 ('Haryana', 16, 3),
 ('Karnataka', 16, 3),
 ('Kerala', 16, 3),
 ('Maharashtra', 16, 3),
 ('Odisha', 16, 3),
 ('Punjab', 16, 3),
 ('Rajasthan', 16, 3),
 ('Tamil Nadu', 16, 3),
 ('Telangana', 16, 3),
 ('Jammu and Kashmir', 16, 3),
 ('Ladakh', 16, 3),
 ('Uttar Pradesh', 16, 3),
 ('Uttarakhand', 16, 3),
 ('Andhra Pradesh', 17, 3),
 ('Delhi', 17, 3),
 ('Haryana', 17, 3),
 ('Karnataka', 17, 3),
 ('Kerala', 17, 3),
 ('Maharashtra', 17, 3),
 ('Odisha', 17, 3),
 ('Punjab', 17, 3),
 ('Rajasthan', 17, 3),
 ('Tamil Nadu', 17, 3),
 ('Telangana', 17, 3),
 ('Jammu and Kashmir', 17, 3),
 ('Ladakh', 17, 3),
 ('Uttar Pradesh', 17, 3),
 ('Uttarakhand', 17, 3),
 ('Andhra Pradesh', 18, 3),
 ('Delhi', 18, 3),
 ('Haryana', 18, 3),
 ('Karnataka', 18, 3),
 ('Kerala', 18, 3),
 ('Maharashtra', 18, 3),
 ('Odisha', 18, 3),
 ('Puducherry', 18, 3),
 ('Punjab', 18, 3),
 ('Rajasthan', 18, 3),
 ('Tamil Nadu', 18, 3),
 ('Telangana', 18, 3),
 ('Jammu and Kashmir', 18, 3),
 ('Ladakh', 18, 3),
 ('Uttar Pradesh', 18, 3),
 ('Uttarakhand', 18, 3),
 ('West Bengal', 18, 3),
 ('Andhra Pradesh', 19, 3),
 ('Chhattisgarh', 19, 3),
 ('Delhi', 19, 3),
 ('Haryana', 19, 3),
 ('Karnataka', 19, 3),
 ('Kerala', 19, 3),
 ('Maharashtra', 19, 3),
 ('Odisha', 19, 3),
 ('Puducherry', 19, 3),
 ('Punjab', 19, 3),
 ('Rajasthan', 19, 3),
 ('Tamil Nadu', 19, 3),
 ('Telangana', 19, 3),
 ('Chandigarh', 19, 3),
 ('Jammu and Kashmir', 19, 3),
 ('Ladakh', 19, 3),
 ('Uttar Pradesh', 19, 3),
 ('Uttarakhand', 19, 3),
 ('West Bengal', 19, 3),
 ('Andhra Pradesh', 20, 3),
 ('Chhattisgarh', 20, 3),
 ('Delhi', 20, 3),
 ('Gujarat', 20, 3),
 ('Haryana', 20, 3),
 ('Karnataka', 20, 3),
 ('Kerala', 20, 3),
 ('Maharashtra', 20, 3),
 ('Odisha', 20, 3),
 ('Puducherry', 20, 3),
 ('Punjab', 20, 3),
 ('Rajasthan', 20, 3),
 ('Tamil Nadu', 20, 3),
 ('Telangana', 20, 3),
 ('Chandigarh', 20, 3),
 ('Jammu and Kashmir', 20, 3),
 ('Ladakh', 20, 3),
 ('Uttar Pradesh', 20, 3),
 ('Uttarakhand', 20, 3),
 ('West Bengal', 20, 3),
 ('Andhra Pradesh', 21, 3),
 ('Chhattisgarh', 21, 3),
 ('Delhi', 21, 3),
 ('Gujarat', 21, 3),
 ('Haryana', 21, 3),
 ('Himachal Pradesh', 21, 3),
 ('Karnataka', 21, 3),
 ('Kerala', 21, 3),
 ('Madhya Pradesh', 21, 3),
 ('Maharashtra', 21, 3),
 ('Odisha', 21, 3),
 ('Puducherry', 21, 3),
 ('Punjab', 21, 3),
 ('Rajasthan', 21, 3),
 ('Tamil Nadu', 21, 3),
 ('Telangana', 21, 3),
 ('Chandigarh', 21, 3),
 ('Jammu and Kashmir', 21, 3),
 ('Ladakh', 21, 3),
 ('Uttar Pradesh', 21, 3),
 ('Uttarakhand', 21, 3),
 ('West Bengal', 21, 3),
 ('Andhra Pradesh', 22, 3),
 ('Bihar', 22, 3),
 ('Chhattisgarh', 22, 3),
 ('Delhi', 22, 3),
 ('Gujarat', 22, 3),
 ('Haryana', 22, 3),
 ('Himachal Pradesh', 22, 3),
 ('Karnataka', 22, 3),
 ('Kerala', 22, 3),
 ('Madhya Pradesh', 22, 3),
 ('Maharashtra', 22, 3),
 ('Odisha', 22, 3),
 ('Puducherry', 22, 3),
 ('Punjab', 22, 3),
 ('Rajasthan', 22, 3),
 ('Tamil Nadu', 22, 3),
 ('Telangana', 22, 3),
 ('Chandigarh', 22, 3),
 ('Jammu and Kashmir', 22, 3),
 ('Ladakh', 22, 3),
 ('Uttar Pradesh', 22, 3),
 ('Uttarakhand', 22, 3),
 ('West Bengal', 22, 3),
 ('Andhra Pradesh', 23, 3),
 ('Bihar', 23, 3),
 ('Chhattisgarh', 23, 3),
 ('Delhi', 23, 3),
 ('Gujarat', 23, 3),
 ('Haryana', 23, 3),
 ('Himachal Pradesh', 23, 3),
 ('Karnataka', 23, 3),
 ('Kerala', 23, 3),
 ('Madhya Pradesh', 23, 3),
 ('Maharashtra', 23, 3),
 ('Odisha', 23, 3),
 ('Puducherry', 23, 3),
 ('Punjab', 23, 3),
 ('Rajasthan', 23, 3),
 ('Tamil Nadu', 23, 3),
 ('Telangana', 23, 3),
 ('Chandigarh', 23, 3),
 ('Jammu and Kashmir', 23, 3),
 ('Ladakh', 23, 3),
 ('Uttar Pradesh', 23, 3),
 ('Uttarakhand', 23, 3),
 ('West Bengal', 23, 3),
 ('Andhra Pradesh', 24, 3),
 ('Bihar', 24, 3),
 ('Chhattisgarh', 24, 3),
 ('Delhi', 24, 3),
 ('Gujarat', 24, 3),
 ('Haryana', 24, 3),
 ('Himachal Pradesh', 24, 3),
 ('Karnataka', 24, 3),
 ('Kerala', 24, 3),
 ('Madhya Pradesh', 24, 3),
 ('Maharashtra', 24, 3),
 ('Manipur', 24, 3),
 ('Odisha', 24, 3),
 ('Puducherry', 24, 3),
 ('Punjab', 24, 3),
 ('Rajasthan', 24, 3),
 ('Tamil Nadu', 24, 3),
 ('Telangana', 24, 3),
 ('Chandigarh', 24, 3),
 ('Jammu and Kashmir', 24, 3),
 ('Ladakh', 24, 3),
 ('Uttar Pradesh', 24, 3),
 ('Uttarakhand', 24, 3),
 ('West Bengal', 24, 3),
 ('Andhra Pradesh', 25, 3),
 ('Bihar', 25, 3),
 ('Chhattisgarh', 25, 3),
 ('Delhi', 25, 3),
 ('Gujarat', 25, 3),
 ('Haryana', 25, 3),
 ('Himachal Pradesh', 25, 3),
 ('Karnataka', 25, 3),
 ('Kerala', 25, 3),
 ('Madhya Pradesh', 25, 3),
 ('Maharashtra', 25, 3),
 ('Manipur', 25, 3),
 ('Mizoram', 25, 3),
 ('Odisha', 25, 3),
 ('Puducherry', 25, 3),
 ('Punjab', 25, 3),
 ('Rajasthan', 25, 3),
 ('Tamil Nadu', 25, 3),
 ('Telangana', 25, 3),
 ('Chandigarh', 25, 3),
 ('Jammu and Kashmir', 25, 3),
 ('Ladakh', 25, 3),
 ('Uttar Pradesh', 25, 3),
 ('Uttarakhand', 25, 3),
 ('West Bengal', 25, 3),
 ('Andaman and Nicobar Islands', 26, 3),
 ('Andhra Pradesh', 26, 3),
 ('Bihar', 26, 3),
 ('Chandigarh', 26, 3),
 ('Chhattisgarh', 26, 3),
 ('Delhi', 26, 3),
 ('Goa', 26, 3),
 ('Gujarat', 26, 3),
 ('Haryana', 26, 3),
 ('Himachal Pradesh', 26, 3),
 ('Jammu and Kashmir', 26, 3),
 ('Karnataka', 26, 3),
 ('Kerala', 26, 3),
 ('Ladakh', 26, 3),
 ('Madhya Pradesh', 26, 3),
 ('Maharashtra', 26, 3),
 ('Manipur', 26, 3),
 ('Mizoram', 26, 3),
 ('Odisha', 26, 3),
 ('Puducherry', 26, 3),
 ('Punjab', 26, 3),
 ('Rajasthan', 26, 3),
 ('Tamil Nadu', 26, 3),
 ('Telangana', 26, 3),
 ('Uttarakhand', 26, 3),
 ('Uttar Pradesh', 26, 3),
 ('West Bengal', 26, 3),
 ('Andaman and Nicobar Islands', 27, 3),
 ('Andhra Pradesh', 27, 3),
 ('Bihar', 27, 3),
 ('Chandigarh', 27, 3),
 ('Chhattisgarh', 27, 3),
 ('Delhi', 27, 3),
 ('Goa', 27, 3),
 ('Gujarat', 27, 3),
 ('Haryana', 27, 3),
 ('Himachal Pradesh', 27, 3),
 ('Jammu and Kashmir', 27, 3),
 ('Karnataka', 27, 3),
 ('Kerala', 27, 3),
 ('Ladakh', 27, 3),
 ('Madhya Pradesh', 27, 3),
 ('Maharashtra', 27, 3),
 ('Manipur', 27, 3),
 ('Mizoram', 27, 3),
 ('Odisha', 27, 3),
 ('Puducherry', 27, 3),
 ('Punjab', 27, 3),
 ('Rajasthan', 27, 3),
 ('Tamil Nadu', 27, 3),
 ('Telangana', 27, 3),
 ('Uttarakhand', 27, 3),
 ('Uttar Pradesh', 27, 3),
 ('West Bengal', 27, 3),
 ('Andhra Pradesh', 28, 3),
 ('Andaman and Nicobar Islands', 28, 3),
 ('Bihar', 28, 3),
 ('Chandigarh', 28, 3),
 ('Chhattisgarh', 28, 3),
 ('Delhi', 28, 3),
 ('Goa', 28, 3),
 ('Gujarat', 28, 3),
 ('Haryana', 28, 3),
 ('Himachal Pradesh', 28, 3),
 ('Jammu and Kashmir', 28, 3),
 ('Karnataka', 28, 3),
 ('Kerala', 28, 3),
 ('Ladakh', 28, 3),
 ('Madhya Pradesh', 28, 3),
 ('Maharashtra', 28, 3),
 ('Manipur', 28, 3),
 ('Mizoram', 28, 3),
 ('Odisha', 28, 3),
 ('Puducherry', 28, 3),
 ('Punjab', 28, 3),
 ('Rajasthan', 28, 3),
 ('Tamil Nadu', 28, 3),
 ('Telangana', 28, 3),
 ('Uttarakhand', 28, 3),
 ('Uttar Pradesh', 28, 3),
 ('West Bengal', 28, 3),
 ('Andhra Pradesh', 29, 3),
 ('Andaman and Nicobar Islands', 29, 3),
 ('Bihar', 29, 3),
 ('Chandigarh', 29, 3),
 ('Chhattisgarh', 29, 3),
 ('Delhi', 29, 3),
 ('Goa', 29, 3),
 ('Gujarat', 29, 3),
 ('Haryana', 29, 3),
 ('Himachal Pradesh', 29, 3),
 ('Jammu and Kashmir', 29, 3),
 ('Karnataka', 29, 3),
 ('Kerala', 29, 3),
 ('Ladakh', 29, 3),
 ('Madhya Pradesh', 29, 3),
 ('Maharashtra', 29, 3),
 ('Manipur', 29, 3),
 ('Mizoram', 29, 3),
 ('Odisha', 29, 3),
 ('Puducherry', 29, 3),
 ('Punjab', 29, 3),
 ('Rajasthan', 29, 3),
 ('Tamil Nadu', 29, 3),
 ('Telangana', 29, 3),
 ('Uttarakhand', 29, 3),
 ('Uttar Pradesh', 29, 3),
 ('West Bengal', 29, 3),
 ('Andhra Pradesh', 30, 3),
 ('Andaman and Nicobar Islands', 30, 3),
 ('Bihar', 30, 3),
 ('Chandigarh', 30, 3),
 ('Chhattisgarh', 30, 3),
 ('Delhi', 30, 3),
 ('Goa', 30, 3),
 ('Gujarat', 30, 3),
 ('Haryana', 30, 3),
 ('Himachal Pradesh', 30, 3),
 ('Jammu and Kashmir', 30, 3),
 ('Karnataka', 30, 3),
 ('Kerala', 30, 3),
 ('Ladakh', 30, 3),
 ('Madhya Pradesh', 30, 3),
 ('Maharashtra', 30, 3),
 ('Manipur', 30, 3),
 ('Mizoram', 30, 3),
 ('Odisha', 30, 3),
 ('Puducherry', 30, 3),
 ('Punjab', 30, 3),
 ('Rajasthan', 30, 3),
 ('Tamil Nadu', 30, 3),
 ('Telangana', 30, 3),
 ('Uttarakhand', 30, 3),
 ('Uttar Pradesh', 30, 3),
 ('West Bengal', 30, 3),
 ('Andhra Pradesh', 31, 3),
 ('Andaman and Nicobar Islands', 31, 3),
 ('Bihar', 31, 3),
 ('Chandigarh', 31, 3),
 ('Chhattisgarh', 31, 3),
 ('Delhi', 31, 3),
 ('Goa', 31, 3),
 ('Gujarat', 31, 3),
 ('Haryana', 31, 3),
 ('Himachal Pradesh', 31, 3),
 ('Jammu and Kashmir', 31, 3),
 ('Karnataka', 31, 3),
 ('Kerala', 31, 3),
 ('Ladakh', 31, 3),
 ('Madhya Pradesh', 31, 3),
 ('Maharashtra', 31, 3),
 ('Manipur', 31, 3),
 ('Mizoram', 31, 3),
 ('Odisha', 31, 3),
 ('Puducherry', 31, 3),
 ('Punjab', 31, 3),
 ('Rajasthan', 31, 3),
 ('Tamil Nadu', 31, 3),
 ('Telangana', 31, 3),
 ('Uttarakhand', 31, 3),
 ('Uttar Pradesh', 31, 3),
 ('West Bengal', 31, 3),
 ('Andhra Pradesh', 1, 4),
 ('Andaman and Nicobar Islands', 1, 4),
 ('Assam', 1, 4),
 ('Bihar', 1, 4),
 ('Chandigarh', 1, 4),
 ('Chhattisgarh', 1, 4),
 ('Delhi', 1, 4),
 ('Goa', 1, 4),
 ('Gujarat', 1, 4),
 ('Haryana', 1, 4),
 ('Himachal Pradesh', 1, 4),
 ('Jammu and Kashmir', 1, 4),
 ('Jharkhand', 1, 4),
 ('Karnataka', 1, 4),
 ('Kerala', 1, 4),
 ('Ladakh', 1, 4),
 ('Madhya Pradesh', 1, 4),
 ('Maharashtra', 1, 4),
 ('Manipur', 1, 4),
 ('Mizoram', 1, 4),
 ('Odisha', 1, 4),
 ('Puducherry', 1, 4),
 ('Punjab', 1, 4),
 ('Rajasthan', 1, 4),
 ('Tamil Nadu', 1, 4),
 ('Telangana', 1, 4),
 ('Uttarakhand', 1, 4),
 ('Uttar Pradesh', 1, 4),
 ('West Bengal', 1, 4),
 ('Andhra Pradesh', 2, 4),
 ('Andaman and Nicobar Islands', 2, 4),
 ('Assam', 2, 4),
 ('Bihar', 2, 4),
 ('Chandigarh', 2, 4),
 ('Chhattisgarh', 2, 4),
 ('Delhi', 2, 4),
 ('Goa', 2, 4),
 ('Gujarat', 2, 4),
 ('Haryana', 2, 4),
 ('Himachal Pradesh', 2, 4),
 ('Jammu and Kashmir', 2, 4),
 ('Jharkhand', 2, 4),
 ('Karnataka', 2, 4),
 ('Kerala', 2, 4),
 ('Ladakh', 2, 4),
 ('Madhya Pradesh', 2, 4),
 ('Maharashtra', 2, 4),
 ('Manipur', 2, 4),
 ('Mizoram', 2, 4),
 ('Odisha', 2, 4),
 ('Puducherry', 2, 4),
 ('Punjab', 2, 4),
 ('Rajasthan', 2, 4),
 ('Tamil Nadu', 2, 4),
 ('Telangana', 2, 4),
 ('Uttarakhand', 2, 4),
 ('Uttar Pradesh', 2, 4),
 ('West Bengal', 2, 4),
 ('Andhra Pradesh', 3, 4),
 ('Andaman and Nicobar Islands', 3, 4),
 ('Arunachal Pradesh', 3, 4),
 ('Assam', 3, 4),
 ('Bihar', 3, 4),
 ('Chandigarh', 3, 4),
 ('Chhattisgarh', 3, 4),
 ('Delhi', 3, 4),
 ('Goa', 3, 4),
 ('Gujarat', 3, 4),
 ('Haryana', 3, 4),
 ('Himachal Pradesh', 3, 4),
 ('Jammu and Kashmir', 3, 4),
 ('Jharkhand', 3, 4),
 ('Karnataka', 3, 4),
 ('Kerala', 3, 4),
 ('Ladakh', 3, 4),
 ('Madhya Pradesh', 3, 4),
 ('Maharashtra', 3, 4),
 ('Manipur', 3, 4),
 ('Mizoram', 3, 4),
 ('Odisha', 3, 4),
 ('Puducherry', 3, 4),
 ('Punjab', 3, 4),
 ('Rajasthan', 3, 4),
 ('Tamil Nadu', 3, 4),
 ('Telangana', 3, 4),
 ('Uttarakhand', 3, 4),
 ('Uttar Pradesh', 3, 4),
 ('West Bengal', 3, 4),
 ('Andhra Pradesh', 4, 4),
 ('Andaman and Nicobar Islands', 4, 4),
 ('Arunachal Pradesh', 4, 4),
 ('Assam', 4, 4),
 ('Bihar', 4, 4),
 ('Chandigarh', 4, 4),
 ('Chhattisgarh', 4, 4),
 ('Delhi', 4, 4),
 ('Goa', 4, 4),
 ('Gujarat', 4, 4),
 ('Haryana', 4, 4),
 ('Himachal Pradesh', 4, 4),
 ('Jammu and Kashmir', 4, 4),
 ('Jharkhand', 4, 4),
 ('Karnataka', 4, 4),
 ('Kerala', 4, 4),
 ('Ladakh', 4, 4),
 ('Madhya Pradesh', 4, 4),
 ('Maharashtra', 4, 4),
 ('Manipur', 4, 4),
 ('Mizoram', 4, 4),
 ('Odisha', 4, 4),
 ('Puducherry', 4, 4),
 ('Punjab', 4, 4),
 ('Rajasthan', 4, 4),
 ('Tamil Nadu', 4, 4),
 ('Telangana', 4, 4),
 ('Uttarakhand', 4, 4),
 ('Uttar Pradesh', 4, 4),
 ('West Bengal', 4, 4),
 ('Andhra Pradesh', 5, 4),
 ('Andaman and Nicobar Islands', 5, 4),
 ('Arunachal Pradesh', 5, 4),
 ('Assam', 5, 4),
 ('Bihar', 5, 4),
 ('Chandigarh', 5, 4),
 ('Chhattisgarh', 5, 4),
 ('Delhi', 5, 4),
 ('Goa', 5, 4),
 ('Gujarat', 5, 4),
 ('Haryana', 5, 4),
 ('Himachal Pradesh', 5, 4),
 ('Jammu and Kashmir', 5, 4),
 ('Jharkhand', 5, 4),
 ('Karnataka', 5, 4),
 ('Kerala', 5, 4),
 ('Ladakh', 5, 4),
 ('Madhya Pradesh', 5, 4),
 ('Maharashtra', 5, 4),
 ('Manipur', 5, 4),
 ('Mizoram', 5, 4),
 ('Odisha', 5, 4),
 ('Puducherry', 5, 4),
 ('Punjab', 5, 4),
 ('Rajasthan', 5, 4),
 ('Tamil Nadu', 5, 4),
 ('Telangana', 5, 4),
 ('Uttarakhand', 5, 4),
 ('Uttar Pradesh', 5, 4),
 ('West Bengal', 5, 4),
 ('Andhra Pradesh', 6, 4),
 ('Andaman and Nicobar Islands', 6, 4),
 ('Arunachal Pradesh', 6, 4),
 ('Assam', 6, 4),
 ('Bihar', 6, 4),
 ('Chandigarh', 6, 4),
 ('Chhattisgarh', 6, 4),
 ('Delhi', 6, 4),
 ('Goa', 6, 4),
 ('Gujarat', 6, 4),
 ('Haryana', 6, 4),
 ('Himachal Pradesh', 6, 4),
 ('Jammu and Kashmir', 6, 4),
 ('Jharkhand', 6, 4),
 ('Karnataka', 6, 4),
 ('Kerala', 6, 4),
 ('Ladakh', 6, 4),
 ('Madhya Pradesh', 6, 4),
 ('Maharashtra', 6, 4),
 ('Manipur', 6, 4),
 ('Mizoram', 6, 4),
 ('Odisha', 6, 4),
 ('Puducherry', 6, 4),
 ('Punjab', 6, 4),
 ('Rajasthan', 6, 4),
 ('Tamil Nadu', 6, 4),
 ('Telangana', 6, 4),
 ('Uttarakhand', 6, 4),
 ('Uttar Pradesh', 6, 4),
 ('West Bengal', 6, 4),
 ('Andhra Pradesh', 7, 4),
 ('Andaman and Nicobar Islands', 7, 4),
 ('Arunachal Pradesh', 7, 4),
 ('Assam', 7, 4),
 ('Bihar', 7, 4),
 ('Chandigarh', 7, 4),
 ('Chhattisgarh', 7, 4),
 ('Delhi', 7, 4),
 ('Goa', 7, 4),
 ('Gujarat', 7, 4),
 ('Haryana', 7, 4),
 ('Himachal Pradesh', 7, 4),
 ('Jammu and Kashmir', 7, 4),
 ('Jharkhand', 7, 4),
 ('Karnataka', 7, 4),
 ('Kerala', 7, 4),
 ('Ladakh', 7, 4),
 ('Madhya Pradesh', 7, 4),
 ('Maharashtra', 7, 4),
 ('Manipur', 7, 4),
 ('Mizoram', 7, 4),
 ('Odisha', 7, 4),
 ('Puducherry', 7, 4),
 ('Punjab', 7, 4),
 ('Rajasthan', 7, 4),
 ('Tamil Nadu', 7, 4),
 ('Telangana', 7, 4),
 ('Tripura', 7, 4),
 ('Uttarakhand', 7, 4),
 ('Uttar Pradesh', 7, 4),
 ('West Bengal', 7, 4),
 ('Andhra Pradesh', 8, 4),
 ('Andaman and Nicobar Islands', 8, 4),
 ('Arunachal Pradesh', 8, 4),
 ('Assam', 8, 4),
 ('Bihar', 8, 4),
 ('Chandigarh', 8, 4),
 ('Chhattisgarh', 8, 4),
 ('Delhi', 8, 4),
 ('Goa', 8, 4),
 ('Gujarat', 8, 4),
 ('Haryana', 8, 4),
 ('Himachal Pradesh', 8, 4),
 ('Jammu and Kashmir', 8, 4),
 ('Jharkhand', 8, 4),
 ('Karnataka', 8, 4),
 ('Kerala', 8, 4),
 ('Ladakh', 8, 4),
 ('Madhya Pradesh', 8, 4),
 ('Maharashtra', 8, 4),
 ('Manipur', 8, 4),
 ('Mizoram', 8, 4),
 ('Odisha', 8, 4),
 ('Puducherry', 8, 4),
 ('Punjab', 8, 4),
 ('Rajasthan', 8, 4),
 ('Tamil Nadu', 8, 4),
 ('Telangana', 8, 4),
 ('Tripura', 8, 4),
 ('Uttarakhand', 8, 4),
 ('Uttar Pradesh', 8, 4),
 ('West Bengal', 8, 4),
 ('Andhra Pradesh', 9, 4),
 ('Andaman and Nicobar Islands', 9, 4),
 ('Arunachal Pradesh', 9, 4),
 ('Assam', 9, 4),
 ('Bihar', 9, 4),
 ('Chandigarh', 9, 4),
 ('Chhattisgarh', 9, 4),
 ('Delhi', 9, 4),
 ('Goa', 9, 4),
 ('Gujarat', 9, 4),
 ('Haryana', 9, 4),
 ('Himachal Pradesh', 9, 4),
 ('Jammu and Kashmir', 9, 4),
 ('Jharkhand', 9, 4),
 ('Karnataka', 9, 4),
 ('Kerala', 9, 4),
 ('Ladakh', 9, 4),
 ('Madhya Pradesh', 9, 4),
 ('Maharashtra', 9, 4),
 ('Manipur', 9, 4),
 ('Mizoram', 9, 4),
 ('Odisha', 9, 4),
 ('Puducherry', 9, 4),
 ('Punjab', 9, 4),
 ('Rajasthan', 9, 4),
 ('Tamil Nadu', 9, 4),
 ('Telangana', 9, 4),
 ('Tripura', 9, 4),
 ('Uttarakhand', 9, 4),
 ('Uttar Pradesh', 9, 4),
 ('West Bengal', 9, 4),
 ('Andhra Pradesh', 10, 4),
 ('Andaman and Nicobar Islands', 10, 4),
 ('Arunachal Pradesh', 10, 4),
 ('Assam', 10, 4),
 ('Bihar', 10, 4),
 ('Chandigarh', 10, 4),
 ('Chhattisgarh', 10, 4),
 ('Delhi', 10, 4),
 ('Goa', 10, 4),
 ('Gujarat', 10, 4),
 ('Haryana', 10, 4),
 ('Himachal Pradesh', 10, 4),
 ('Jammu and Kashmir', 10, 4),
 ('Jharkhand', 10, 4),
 ('Karnataka', 10, 4),
 ('Kerala', 10, 4),
 ('Ladakh', 10, 4),
 ('Madhya Pradesh', 10, 4),
 ('Maharashtra', 10, 4),
 ('Manipur', 10, 4),
 ('Mizoram', 10, 4),
 ('Odisha', 10, 4),
 ('Puducherry', 10, 4),
 ('Punjab', 10, 4),
 ('Rajasthan', 10, 4),
 ('Tamil Nadu', 10, 4),
 ('Telangana', 10, 4),
 ('Tripura', 10, 4),
 ('Uttarakhand', 10, 4),
 ('Uttar Pradesh', 10, 4),
 ('West Bengal', 10, 4),
 ('Andhra Pradesh', 11, 4),
 ('Andaman and Nicobar Islands', 11, 4),
 ('Arunachal Pradesh', 11, 4),
 ('Assam', 11, 4),
 ('Bihar', 11, 4),
 ('Chandigarh', 11, 4),
 ('Chhattisgarh', 11, 4),
 ('Delhi', 11, 4),
 ('Goa', 11, 4),
 ('Gujarat', 11, 4),
 ('Haryana', 11, 4),
 ('Himachal Pradesh', 11, 4),
 ('Jammu and Kashmir', 11, 4),
 ('Jharkhand', 11, 4),
 ('Karnataka', 11, 4),
 ('Kerala', 11, 4),
 ('Ladakh', 11, 4),
 ('Madhya Pradesh', 11, 4),
 ('Maharashtra', 11, 4),
 ('Manipur', 11, 4),
 ('Mizoram', 11, 4),
 ('Odisha', 11, 4),
 ('Puducherry', 11, 4),
 ('Punjab', 11, 4),
 ('Rajasthan', 11, 4),
 ('Tamil Nadu', 11, 4),
 ('Telangana', 11, 4),
 ('Tripura', 11, 4),
 ('Uttarakhand', 11, 4),
 ('Uttar Pradesh', 11, 4),
 ('West Bengal', 11, 4),
 ('Andhra Pradesh', 12, 4),
 ('Andaman and Nicobar Islands', 12, 4),
 ('Arunachal Pradesh', 12, 4),

In [61]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [80]:
# Adding columns days, months to the dataframe
df['days'] = days
df['months'] = months

In [83]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,days,months
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,1,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,3,2

In [87]:
df.shape

(18047, 11)

In [89]:
# creating condition column by checking the 
# confirmed cases based on past 2 weeks
number_of_cases = 0
count = 0
confirmedCases = df.Confirmed.values
states = df['State/UnionTerritory'].values
confirmed = 0
condition = list()
j = 0
stateCondition = [0] * 36
lastWeekCases = -1

for i in range(18047):
    if count == 14:
        count = 0
    # checking states/union territories so that 
    # the values are unique
    # if states[j] == df['State/UnionTerritory'].values and stateCondition[j] == 0: 
    for i in states:
        number_of_cases += confirmedCases[i]
        if number_of_cases < lastWeekCases and number_of_cases < 100:
            condition.append('Safe')
        elif number_of_cases == lastWeekCases and number_of_cases > 100 and number_of_cases < 10000:
            condition.append('Moderate')
        elif number_of_cases == (lastWeekCases + 10) or number_of_cases == (lastWeekCases - 10):
            condition.append('Moderate')
        elif number_of_cases > lastWeekCases and number_of_cases > 10000:
            condition.append('Critical')
    count += 1
    print(condition)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices