In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
import seaborn as sns

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

# Classification 
Predict the condition of state - Critical, Moderate or Safe
Based on total number of cases per weeks.
# Regression
Predict the percentage improved of States
Based on number of weeks.

In [2]:
# Covid 19 India data
df = pd.read_csv("/mnt/d/codes/Covid_India_Prediction/Data/covid_19_india.csv")
# df2 = pd.read_csv("D:/codes/Covid_India_Prediction/Data/covid_19_india.csv")
df.head

<bound method NDFrame.head of          Sno        Date     Time State/UnionTerritory  \
0          1  2020-01-30  6:00 PM               Kerala
1          2  2020-01-31  6:00 PM               Kerala
2          3  2020-02-01  6:00 PM               Kerala
3          4  2020-02-02  6:00 PM               Kerala
4          5  2020-02-03  6:00 PM               Kerala
...      ...         ...      ...                  ...
18105  18106  2021-08-11  8:00 AM            Telangana
18106  18107  2021-08-11  8:00 AM              Tripura
18107  18108  2021-08-11  8:00 AM          Uttarakhand
18108  18109  2021-08-11  8:00 AM        Uttar Pradesh
18109  18110  2021-08-11  8:00 AM          West Bengal

      ConfirmedIndianNational ConfirmedForeignNational    Cured  Deaths  \
0                           1                        0        0       0
1                           1                        0        0       0
2                           2                        0        0       0
3                           3                        0        0       0
4                           3                        0        0       0
...                       ...                      ...      ...     ...
18105                       -                        -   638410    3831
18106                       -                        -    77811     773
18107                       -                        -   334650    7368
18108                       -                        -  1685492   22775
18109                       -                        -  1506532   18252

       Confirmed
0              1
1              1
2              2
3              3
4              3
...          ...
18105     650353
18106      80660
18107     342462
18108    1708812
18109    1534999

[18110 rows x 9 columns]>

In [4]:
# Statewise Testing Details data
df1 = pd.read_csv("/mnt/d/codes/Covid_India_Prediction/Data/StatewiseTestingDetails.csv")
# df1 = pd.read_csv("D:/codes/Covid_India_Prediction/Data/StatewiseTestingDetails.csv")
df1.head

<bound method NDFrame.head of              Date                        State  TotalSamples Negative  \
0      2020-04-17  Andaman and Nicobar Islands        1403.0     1210
1      2020-04-24  Andaman and Nicobar Islands        2679.0      NaN
2      2020-04-27  Andaman and Nicobar Islands        2848.0      NaN
3      2020-05-01  Andaman and Nicobar Islands        3754.0      NaN
4      2020-05-16  Andaman and Nicobar Islands        6677.0      NaN
...           ...                          ...           ...      ...
16331  2021-08-06                  West Bengal    15999961.0      NaN
16332  2021-08-07                  West Bengal    16045662.0      NaN
16333  2021-08-08                  West Bengal    16092192.0      NaN
16334  2021-08-09                  West Bengal    16122345.0      NaN
16335  2021-08-10                  West Bengal    16162814.0      NaN

       Positive
0          12.0
1          27.0
2          33.0
3          33.0
4          33.0
...         ...
16331       NaN
16332       NaN
16333       NaN
16334       NaN
16335       NaN

[16336 rows x 5 columns]>

In [5]:
# Covid vaccine statewise data
df2 = pd.read_csv("/mnt/d/codes/Covid_India_Prediction/Data/covid_vaccine_statewise.csv")
# df2 = pd.read_csv("D:/Codes/Covid_India_Prediction/Data/covid_vaccine_statewise.csv")
df2.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16-01-2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17-01-2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18-01-2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19-01-2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20-01-2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0