In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("../Data/covid_19_india.csv")
data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [22]:
data.drop("ConfirmedIndianNational", 1,inplace=True)
data.drop("ConfirmedForeignNational", 1,inplace=True)
data.drop("Time", 1,inplace=True)
data.drop("Sno", 1,inplace=True)

In [23]:
data.head()

         Date State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30               Kerala      0       0          1
1  2020-01-31               Kerala      0       0          1
2  2020-02-01               Kerala      0       0          2
3  2020-02-02               Kerala      0       0          3
4  2020-02-03               Kerala      0       0          3

In [10]:
def replace_names(old,new):
    data["State/UnionTerritory"].replace(old,new,inplace=True)

In [17]:
# Cleaning data 
# Replacing incorrect names of States

replace_names("Maharashtra***", "Maharashtra")
replace_names("Madhya Pradesh***", "Madhya Pradesh")
replace_names("Bihar****", "Bihar")
replace_names("Dadra and Nagar Haveli", "Dadra and Nagar Haveli and Daman and Diu")
replace_names("Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
replace_names("Himanchal Pradesh", "Himachal Pradesh")
replace_names("Telengana", "Telangana")
replace_names("Karanataka", "Karnataka")


states = data["State/UnionTerritory"].unique().tolist()
print(states)
print("Total unique states and union territories =", len(states))

['Kerala', 'Telangana', 'Delhi', 'Rajasthan', 'Uttar Pradesh', 'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand', 'Arunachal Pradesh', 'Tripura', 'Nagaland', 'Meghalaya', 'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim', 'Lakshadweep']
Total unique states and union territories = 36

In [16]:
# Checking for 'Unassigned' and 'Cases being reassigned to states rows' in the data
print('Cases being reassigned to states =', len(data[data['State/UnionTerritory'] == 'Cases being reassigned to states']))
print('Unassigned =', len(data[data['State/UnionTerritory'] == 'Unassigned']))

Cases being reassigned to states = 0
Unassigned = 0

In [15]:
indexes1 = data[data["State/UnionTerritory"] == "Cases being reassigned to states"].index
indexes2 = data[data["State/UnionTerritory"] == "Unassigned"].index
data.drop(indexes1,inplace=True)
data.drop(indexes2,inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18047 entries, 0 to 18109
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  18047 non-null  object
 1   State/UnionTerritory  18047 non-null  object
 2   Cured                 18047 non-null  int64
 3   Deaths                18047 non-null  int64
 4   Confirmed             18047 non-null  int64
dtypes: int64(3), object(2)
memory usage: 846.0+ KB

In [25]:
data.head()

         Date State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30               Kerala      0       0          1
1  2020-01-31               Kerala      0       0          1
2  2020-02-01               Kerala      0       0          2
3  2020-02-02               Kerala      0       0          3
4  2020-02-03               Kerala      0       0          3

In [72]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values
x,y

(array([['2020-01-30', 'Kerala', 0, 0],
        ['2020-01-31', 'Kerala', 0, 0],
        ['2020-02-01', 'Kerala', 0, 0],
        ...,
        ['2021-08-11', 'Uttarakhand', 334650, 7368],
        ['2021-08-11', 'Uttar Pradesh', 1685492, 22775],
        ['2021-08-11', 'West Bengal', 1506532, 18252]], dtype=object),
 array([      1,       1,       2, ...,  342462, 1708812, 1534999],
       dtype=int64))

In [73]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[("encoder", OneHotEncoder(), [0,1])], remainder="passthrough")
x = np.array(ct.fit_transform(x))

In [65]:
print(x)

  (0, 0)	1.0
  (0, 576)	1.0
  (1, 1)	1.0
  (1, 576)	1.0
  (2, 2)	1.0
  (2, 576)	1.0
  (3, 3)	1.0
  (3, 576)	1.0
  (4, 4)	1.0
  (4, 576)	1.0
  (5, 5)	1.0
  (5, 576)	1.0
  (6, 6)	1.0
  (6, 576)	1.0
  (7, 7)	1.0
  (7, 576)	1.0
  (8, 8)	1.0
  (8, 576)	1.0
  (9, 9)	1.0
  (9, 576)	1.0
  (10, 10)	1.0
  (10, 576)	1.0
  (11, 11)	1.0
  (11, 576)	1.0
  (12, 12)	1.0
  :	:
  (18040, 597)	356.0
  (18041, 559)	1.0
  (18041, 590)	1.0
  (18041, 596)	2524400.0
  (18041, 597)	34367.0
  (18042, 559)	1.0
  (18042, 591)	1.0
  (18042, 596)	638410.0
  (18042, 597)	3831.0
  (18043, 559)	1.0
  (18043, 592)	1.0
  (18043, 596)	77811.0
  (18043, 597)	773.0
  (18044, 559)	1.0
  (18044, 594)	1.0
  (18044, 596)	334650.0
  (18044, 597)	7368.0
  (18045, 559)	1.0
  (18045, 593)	1.0
  (18045, 596)	1685492.0
  (18045, 597)	22775.0
  (18046, 559)	1.0
  (18046, 595)	1.0
  (18046, 596)	1506532.0
  (18046, 597)	18252.0

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train_y_test = train_test_split(x,y,test_size=0.3,random_state=1)

TypeError: Singleton array array(<18047x598 sparse matrix of type '<class 'numpy.float64'>'
	with 69869 stored elements in Compressed Sparse Row format>, dtype=object) cannot be considered a valid collection.